table {
	border: 5px solid chartreuse;
}

td:hover {
	background-color: steelblue;
	color: white;
}

tr, th {
	background-color: seagreen;
	color: seashell;
}

tr, td {
	background-color: slategray;
	color: snow;
} 